span{
    color:rgb(252, 126, 9);
}
.nav-menu{
    display:flex;

}
.nav-menu li{
    padding:  0 1rem;
    list-style-type: none;
}
.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
    text-decoration:none;
}
li::after{
    content: "";
    background-color: #FC6736;
    width:0;
    height: 3px;
    margin: auto;
    display: block;
}
 li:hover::after{
width: 100%;
transition: width 0.3s linear;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height:150px;
 
}
.Header button{
    padding: 10px;
    background-color: rgb(252, 126, 9);
    border:none;
    color:#fff;

}
.hamburger{
    display: none;
}
/* @media screen  and(min-width:240px) {
    .nav-menu.active{
        left: 3200px;
        top:-220px;
        z-index: 4;
    }
} */
@media screen and (max-width:769px){
    .nav-menu{
        display:flex;
        flex-direction: column;
         align-items:flex-start;
         width: 120px;
         height:100%;
        position: absolute;
        background-color: rgb(54, 54, 54,0.4); 
        padding: 1rem;
        right:-190%;
        top:90px;
        z-index:4;
        transition:0.3s;
        /* padding: 1rem; */
   
    } 
    .nav-menu.active{
        right:-20%;
        position: absolute;
        
    }
    .nav-menu li{
        padding: 0;
        
 
    }
    .nav-menu li a{
        font-size: 1rem;
        /* color:black; */
 
    }
    .hamburger{
        display: initial;
    }
    .Header{
        height: auto;
    }

}
/* @media (min-width:320px){
    .nav-menu{
        display:flex;
        flex-direction: column;
         align-items:flex-start;
         width: 120px;
         height:100%;
        position: absolute;
        background-color: rgb(54, 54, 54,0.4); 
        padding: 1rem;
        right:-10%;
        top:90px;
        z-index:4;
        transition:0.3s;
        
   
    } 
    .nav-menu.active{
        right:-20%;
        position: absolute;
     
      

    }
} */
