
.portfolio-container{
  /* display: flex;
  flex-direction: column;
  justify-content:center;
  padding:10px;
  width:100%;
  margin: 0 2rem 0 2rem; */
  display:grid;
  margin:1rem;
  
}
.portfolio-container h1{
  margin-left: 3rem;
}
.portfolio-container h1::after{
  content: "";
  background-color: #FC6736;
  width:0;
  height: 3px;
  display: block;
}
h1:hover::after{
width: 2%;
transition: width 0.3s linear ;
}
.portfolio-box{
  margin: 3rem;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:2.5rem;
}
.portfolio-item{
  background:rgba(6, 6, 7, 0.3) ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 370px;
  height:280px;

}

.portfolio-item:hover{
  border-color:whitesmoke;
  background-color: transparent;
  box-shadow: 0 0 10px 0 rgba(245,245,245,0.5);
}
.portfolio_item_image {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 340px;
  height:250px;
}
.btns{
  display:flex;
  justify-content: space-between;
  gap:1rem;
}
.portfolio_item_image img{
  width:400px;
}
.btn{
  background-color: #FC6736;
  color:#fff;
  padding: 10px;
  border:none;
  width:70px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}
.btn1{
  background-color:transparent;
  color:#FC6736;
  padding: 10px;
  border:1px solid whitesmoke;
  width:100px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

@media (max-width:769px){
  .portfolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-box{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .portfolio-item{
   display:flex;
   justify-content: center;
   width:200px;
   height:200px;
   margin-right: 10rem;
  }
  .portfolio_item_image{
   display: flex;
   justify-content: center;

  }
  .portfolio_item_image img{
    width:200px;
    border-radius:5px;
  }
}





















































/* 
.swiper {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.swiper-slide img:hover{
transform: scale(100%);
}
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup-image {
  max-width: 800px;
  max-height: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width:769px) {
  .portfolio{
    margin: none;
  }
  .swiper {
    width: 150%;
    height: 150%;
  }
  .popup-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .popup-image {
    max-width: 270px;
    max-height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

 
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */
