
.about{
width: 100%;
height:100vh;
display: flex;
justify-content: center;
align-items: center;
background-color:  rgb(66, 59, 59);


}
.circle{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 144, 104, 0.966);
    border-radius: 50%;
    margin: 2rem;
}
.circle img{
    width:250px;
    margin-bottom:2rem;
    border-radius:5rem;
}
.Content{
    display: flex;
 
    flex-direction: column;
    margin: 1rem;
}
.Content h1{
    font-size: xx-large;
}
.cnt-btn{
    padding: 10px;
    width:150px;
    background-color: rgba(255, 144, 104, 0.966);
    border:none;
    color:#fff;
}
@media  screen and (max-width:500px){
  
    .about{
        display: flex;
        flex-direction: column;
        height: max-content;
        width:fit-content
    }
    .Content{
        width:fit-content;
    }
}