
.about{
width: 100%;
height:76vh;
display: flex;
justify-content: center;
align-items: center;
background-color:  rgba(31, 30, 30, 0.966)


}
.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* padding: 15rem; */
     margin:10rem; 
}
.circle{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 144, 104, 0.966);
    border-radius: 50%;
    margin: 2rem;
    width: 230px;
    height:230px;
}
.circle img{
    width:200px;
    margin-bottom:2rem;
    border-radius:5rem;
}
.Content{
    display: flex;
    width: 600px;
    flex-direction: column;
    margin: 1rem;
}
.Content h1{
    font-size: xx-large;
}
.Content p{
    font-size:large;
    font-weight: 500;
}
.Content h1::after{
    content: "";
    background-color: #FC6736;
    width:0;
    height: 3px;
    display: block;
}
h1:hover::after{
width: 2%;
transition: width 0.3s linear ;
}
.cnt-btn{
    padding: 10px;
    width:150px;
    background-color: rgba(255, 144, 104, 0.966);
    border:none;
    color:#fff;
    
}
@media screen and (max-width:769px){
  
    .about-box{
        display: flex;
        flex-direction: column;
        height: max-content;
        width:auto;
        margin-top:-2px;
    }
    .about-box h1{
        font-size: medium;
    }
    .about-box p{
        font-size: small;
    }
    .about{
        display: flex;
        height: auto;
        width: 52vh;
    }
    .Content{
        width:40vh;
    }
    .circle{
        width: auto;
        height: auto;
        margin: 1rem 0 0 0;
        
    }
    
    
}
/* @media (min-width:320px) {
    .about-box{
        margin-right: none;
    }
} */
