.home-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.home-container{
    display: flex;
    justify-content: space-evenly;

    margin:2rem;
    flex-direction: row;
}
.home-data{
    color:white;
    font-size: large;
}
.home-data h1{
    font-size:xx-large;
    font-weight: 700;
}
.data-btn{
    background-color: transparent;
    border: 1px solid rgba(252, 126, 9);
    border-radius: 2px;
    color:white;
    padding: 10px 25px;
}
.shape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC6736;
    width:20rem;
    height:20rem;
    border-radius: 46% 54% 5% 95% / 52% 75% 25% 48% ;
}
.shape img{
    width:18rem;
   padding-bottom: 5rem;
   padding-left: 35px;
    
}
.icons{
    display: flex; 
    justify-content: center;
    flex-direction: column;
   right: 20rem;  
}
.icons a{
   column-gap: 1rem;
}  

@media screen and (max-width:500px) {
    .shape{
        width:10rem;
        height:15rem;
        margin-top: 3rem;      
    }
    .shape img{
        width:180px;
        margin-top: 2rem;
        margin-right: 1.2rem;
    }
}
@media  screen and (max-width:1400px) {
    .icons{
        display:flex;
         /* flex-direction: row;
         margin-bottom: 1rem; */
        margin-right: 1.5rem;
    }
}